DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/smith_heffa_enterprise?schema=public
NEXT_PUBLIC_GITHUB_REPO=https://github.com/franzheffa/smith-heffa-deepfakedetection
NEXT_PUBLIC_DASHBOARD_URL=https://us-east-1.console.aws.amazon.com/cloudwatch/home?region=us-east-1#dashboards:name=DeepFake-Monitoring-Dashboard
NEXT_PUBLIC_VITE_FRONTEND_URL=https://frontend-buttertech-team.vercel.app
